@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* Global Styles */

:root {
    font-family: Inter, sans-serif;
    font-weight: 400;

    font-synthesis: none;

    /* Colours */
    --blue: #345ff6;
    --gunmetal: #253347;
    --dark-electric-blue: #5e6e85;
    --light-grey: #d8e2e7;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;
    color: var(--gunmetal);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

/* Header */

.header {
    padding-top: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.4rem;
    padding-inline: 2.4rem;
    padding-bottom: 4.8rem;
}

.header img {
    max-width: 4rem;
}

.header__title {
    font-size: 4.8rem;
}

.header__description {
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--dark-electric-blue);
}

/* Recommendations Section */

.recommendations {
    padding: 5.6rem 0;
    background: var(
        --Gradient-1,
        linear-gradient(
            290deg,
            hsla(216, 95%, 92%, 25%),
            rgba(214, 252, 254, 25%)
        )
    );
    padding-inline: 2rem;
}

.recommendations__list {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.recommendations__listItem {
}

.recommendations__listItem img {
    margin-bottom: 3.2rem;
}

.recommendations__listItem h3 {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
}

.recommendations__listItem p {
    font-size: 1.6rem;
    color: var(--dark-electric-blue);
}

/* Limitations Section */

.limitations {
    text-align: center;
    padding-top: 7.2rem;
    padding-bottom: 9.6rem;
    padding-inline: 2.4rem;
}

.limitations__header {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.limitations__description {
    color: var(--dark-electric-blue);
    font-size: 1.6rem;
    line-height: 150%;
    margin-bottom: 5.6rem;
}

.limitations__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.limitations__listItem {
    text-align: start;
    padding: 2.4rem;
    border-radius: 1.6rem;
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}

.limitations__listItemHeader {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    margin-bottom: 2rem;
}

.limitations__listItem h3 {
    font-size: 2rem;
}

.limitations__listItem p {
    color: var(--dark-electric-blue);
}
